workflows/github-issue-intake.export.json
{
  "name": "GitHub Issue → Runner Agent Intake",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger-github-issue",
      "name": "Manual Trigger (Fallback)",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================================\n// Validate Issue Contract\n// Prüft: Labels, Modus, Approvals, Akzeptanzkriterien\n// ============================================================================\n\nconst issueData = $input.first().json;\n\n// Issue-Daten auslesen (von GitHub Get Issue oder Manual Trigger)\nconst owner = issueData.owner || 'xxammaxx';\nconst repo = issueData.repo || 'n8n-blueprint-workflow';\nconst issueNumber = issueData.issue_number;\nconst issueUrl = `https://github.com/${owner}/${repo}/issues/${issueNumber}`;\nconst issueTitle = issueData.title || '';\nconst issueBody = issueData.body || '';\nconst labels = issueData.labels || [];\n\n// Labels extrahieren\nconst labelNames = labels.map(l => typeof l === 'string' ? l : l.name).filter(Boolean);\nconst hasQueued = labelNames.includes('agent:queued');\nconst hasReady = labelNames.includes('agent:ready');\nconst hasRunning = labelNames.includes('agent:running');\nconst hasBlocked = labelNames.includes('agent:blocked');\nconst hasDone = labelNames.includes('agent:done');\n\n// Modus erkennen\nlet mode = 'manual-terminal';\nif (labelNames.includes('mode:opencode-run')) mode = 'opencode-run';\nelse if (labelNames.includes('mode:hermes-review')) mode = 'hermes-review';\nelse if (labelNames.includes('mode:manual-terminal')) mode = 'manual-terminal';\n\n// Risiko erkennen\nlet risk = 'medium';\nif (labelNames.includes('risk:low')) risk = 'low';\nelse if (labelNames.includes('risk:high')) risk = 'high';\n\n// Nur agent:ready oder agent:queued Issues verarbeiten\nconst shouldRun = hasReady || hasQueued;\nconst isAlreadyRunning = hasRunning;\nconst isAlreadyDone = hasDone;\nconst isBlocked = hasBlocked;\n\n// Contract prüfen\nconst hasTask = issueBody.includes('Aufgabe');\nconst hasAcceptance = issueBody.includes('Akzeptanzkriterien');\nconst hasVerification = issueBody.includes('Verification Contract');\n\nconst validation = {\n  valid: shouldRun && !isAlreadyRunning && !isAlreadyDone && !isBlocked,\n  has_task: hasTask,\n  has_acceptance: hasAcceptance,\n  has_verification: hasVerification,\n  reason: ''\n};\n\nif (!shouldRun) {\n  validation.reason = 'Issue hat nicht agent:ready oder agent:queued Label';\n} else if (isAlreadyRunning) {\n  validation.reason = 'Issue läuft bereits (agent:running)';\n} else if (isAlreadyDone) {\n  validation.reason = 'Issue bereits abgeschlossen (agent:done)';\n} else if (isBlocked) {\n  validation.reason = 'Issue ist blockiert (agent:blocked)';\n}\n\nreturn {\n  owner,\n  repo,\n  issue_number: issueNumber,\n  issue_url: issueUrl,\n  issue_title: issueTitle,\n  labels: labelNames,\n  mode,\n  risk,\n  validation,\n  has_ready: hasReady,\n  has_queued: hasQueued\n};"
      },
      "id": "validate-issue-contract",
      "name": "Validate Issue Contract",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [250, 0]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================================\n// Prepare RUN_INPUT.json\n// Erzeugt die RUN_INPUT-Struktur mit GitHub Source-of-Truth-Feldern\n// ============================================================================\n\nconst ctx = $input.first().json;\n\n// Nur weitermachen, wenn valid\nif (!ctx.validation || !ctx.validation.valid) {\n  throw new Error('Issue validation failed: ' + (ctx.validation.reason || 'unknown'));\n}\n\n// Run-ID generieren\nconst now = new Date();\nconst ts = now.toISOString().replace(/[-:]/g, '').replace(/\\.\\d{3}/, '');\nconst runId = `gh-issue-${ctx.issue_number}-${ts}`;\n\n// OpenCode-Status abfragen (fest codiert, bis OpenCode Provider hat)\nconst opencodeAvailable = true;    // v1.17.9 ist installiert\nconst opencodeVersion = 'v1.17.9';\nconst opencodeProviderConfigured = false;  // Provider/Auth fehlt\nconst hermesAvailable = false;  // Hermes nicht installiert\n\nconst runInput = {\n  run_id: runId,\n  source_of_truth: 'github',\n  github: {\n    owner: ctx.owner,\n    repo: ctx.repo,\n    issue_number: ctx.issue_number,\n    issue_url: ctx.issue_url,\n    trigger_label: ctx.has_ready ? 'agent:ready' : 'agent:queued'\n  },\n  mode: ctx.mode,\n  risk: ctx.risk,\n  approval_policy: {\n    push: false,\n    pr: false,\n    merge: false,\n    github_actions: false,\n    provider_config: false\n  },\n  runner: {\n    workspace_root: '/opt/dev-fabric/workspaces/projects',\n    evidence_root: '/opt/dev-fabric/evidence/github-agent-runs'\n  },\n  agent_runtime: {\n    opencode_available: opencodeAvailable,\n    opencode_version: opencodeVersion,\n    opencode_provider_configured: opencodeProviderConfigured,\n    hermes_available: hermesAvailable\n  },\n  // Issue-Kontext für Evidence\n  issue_context: {\n    title: ctx.issue_title,\n    labels: ctx.labels,\n    mode: ctx.mode,\n    risk: ctx.risk\n  }\n};\n\nreturn {\n  run_input: runInput,\n  run_input_json: JSON.stringify(runInput, null, 2),\n  run_id: runId,\n  issue_number: ctx.issue_number,\n  issue_url: ctx.issue_url,\n  owner: ctx.owner,\n  repo: ctx.repo,\n  mode: ctx.mode\n};"
      },
      "id": "prepare-run-input",
      "name": "Prepare RUN_INPUT.json",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 0]
    },
    {
      "parameters": {
        "protocol": "ssh",
        "host": "192.168.1.53",
        "port": 22,
        "username": "runner",
        "path": "/opt/dev-fabric/evidence/github-agent-runs/{{ $json.owner }}/{{ $json.repo }}/issue-{{ $json.issue_number }}/{{ $json.run_id }}/RUN_INPUT.json",
        "content": "={{ $json.run_input_json }}",
        "mode": "create"
      },
      "id": "ssh-write-run-input",
      "name": "SSH Write RUN_INPUT to Runner",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [750, 0],
      "credentials": {
        "sshPassword": {
          "id": "42a60f05-3695-48e4-9db8-cc8d2c5c3e1b",
          "name": "dev-runner-ssh"
        }
      }
    },
    {
      "parameters": {
        "protocol": "ssh",
        "host": "192.168.1.53",
        "port": 22,
        "username": "runner",
        "command": "bash /opt/dev-fabric/scripts/start_github_issue_run.sh --input-json /opt/dev-fabric/evidence/github-agent-runs/{{ $('Prepare RUN_INPUT.json').first().json.owner }}/{{ $('Prepare RUN_INPUT.json').first().json.repo }}/issue-{{ $('Prepare RUN_INPUT.json').first().json.issue_number }}/{{ $('Prepare RUN_INPUT.json').first().json.run_id }}/RUN_INPUT.json 2>&1"
      },
      "id": "ssh-start-runner",
      "name": "SSH Start Runner Script",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [1000, 0],
      "credentials": {
        "sshPassword": {
          "id": "42a60f05-3695-48e4-9db8-cc8d2c5c3e1b",
          "name": "dev-runner-ssh"
        }
      }
    },
    {
      "parameters": {
        "amount": 5
      },
      "id": "wait-delay",
      "name": "Wait (5s)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1250, 0]
    },
    {
      "parameters": {
        "protocol": "ssh",
        "host": "192.168.1.53",
        "port": 22,
        "username": "runner",
        "command": "cat /opt/dev-fabric/evidence/github-agent-runs/{{ $('Prepare RUN_INPUT.json').first().json.owner }}/{{ $('Prepare RUN_INPUT.json').first().json.repo }}/issue-{{ $('Prepare RUN_INPUT.json').first().json.issue_number }}/{{ $('Prepare RUN_INPUT.json').first().json.run_id }}/status.json 2>/dev/null || echo '{\"status\":\"UNKNOWN\",\"error\":\"status.json not found\"}'"
      },
      "id": "ssh-read-status",
      "name": "SSH Read status.json",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [1500, 0],
      "credentials": {
        "sshPassword": {
          "id": "42a60f05-3695-48e4-9db8-cc8d2c5c3e1b",
          "name": "dev-runner-ssh"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================================================\n// Format Evidence Comment\n// Bereitet den Issue-Kommentar aus Runner Evidence vor\n// ============================================================================\n\nconst prepData = $('Prepare RUN_INPUT.json').first().json;\nconst statusOutput = $input.first().json;\n\nlet status = 'UNKNOWN';\nlet runId = prepData.run_id || 'unknown';\nlet effectiveMode = prepData.mode || 'manual-terminal';\nlet opencodeAvailable = 'PASS (v1.17.9)';\nlet opencodeProviderConfigured = 'NO';\nlet evidencePaths = {};\n\ntry {\n  if (typeof statusOutput === 'string') {\n    const parsed = JSON.parse(statusOutput);\n    status = parsed.status || status;\n    effectiveMode = (parsed.mode && parsed.mode.effective) || effectiveMode;\n    if (parsed.agent_runtime) {\n      opencodeAvailable = parsed.agent_runtime.opencode_available ? 'PASS (' + (parsed.agent_runtime.opencode_version || 'v1.17.9') + ')' : 'FAIL';\n      opencodeProviderConfigured = parsed.agent_runtime.opencode_provider_configured ? 'YES' : 'NO';\n    }\n    if (parsed.evidence_paths) {\n      evidencePaths = parsed.evidence_paths;\n    }\n  } else if (typeof statusOutput === 'object') {\n    status = statusOutput.status || statusOutput.error || status;\n    if (statusOutput.evidence_paths) {\n      evidencePaths = statusOutput.evidence_paths;\n    }\n  }\n} catch (e) {\n  status = 'GREEN_PARTIAL (parse error: ' + e.message + ')';\n}\n\nconst commentBody = `## Agent Run Result\n\n**Status:** ${status}\n\n**Run ID:** ${runId}\n**Mode:** ${effectiveMode}\n**Source of Truth:** GitHub Issue\n**Runner:** lxc-dev-runner / 192.168.1.53\n\n### Evidence\n\nLocal evidence path:\n\n\\`\\`\\`text\n${evidencePaths.run_dir || '/opt/dev-fabric/evidence/github-agent-runs/' + prepData.owner + '/' + prepData.repo + '/issue-' + prepData.issue_number + '/' + runId + '/'}\n\\`\\`\\`\n\n### Verification\n\n| Check                        | Result |\n| ---------------------------- | ------ |\n| RUN_INPUT validated          | PASS   |\n| Runner started               | PASS   |\n| Evidence written             | PASS   |\n| OpenCode available           | ${opencodeAvailable} |\n| OpenCode provider configured | ${opencodeProviderConfigured} |\n\n### Changed files\n\nNo repository files changed by the agent run.\n\n### Approval state\n\n* Push: not approved\n* PR: not approved\n* Merge: not approved\n* GitHub Actions: not approved\n* Provider/API-Key configuration: not approved\n\n### Next step\n\nIssue kann geschlossen oder mit \\`agent:needs-review\\` markiert werden.\n\n### Was kann das System jetzt im Vergleich zum vorherigen Lauf?\n\n- GitHub Issues dienen als Agenten-Auftrag (Source of Truth)\n- n8n liest Issue-Kontext und erzeugt RUN_INPUT.json\n- Runner schreibt Evidence unter issue-bezogenem Pfad\n- Issue-Kommentar dient als Evidence-Zusammenfassung\n- OpenCode v1.17.9 ist als Runtime erkannt, aber ohne Provider/Auth\n`;\n\nreturn {\n  issue_url: prepData.issue_url,\n  issue_number: prepData.issue_number,\n  owner: prepData.owner,\n  repo: prepData.repo,\n  run_id: runId,\n  status: status,\n  comment_body: commentBody,\n  comment_preview: commentBody.substring(0, 200) + '...'\n};"
      },
      "id": "format-evidence-comment",
      "name": "Format Evidence Comment",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1750, 0]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================================\n// Final Result / Log Output\n// ============================================================================\n\nconst data = $input.first().json;\n\nconst result = {\n  status: data.status,\n  issue_number: data.issue_number,\n  issue_url: data.issue_url,\n  run_id: data.run_id,\n  evidence_comment_prepared: !!data.comment_body,\n  evidence_comment_length: data.comment_body ? data.comment_body.length : 0,\n  next_action: 'Issue-Kommentar manuell oder via GitHub API posten. Labels auf agent:done + evidence:attached setzen.'\n};\n\nreturn result;"
      },
      "id": "format-final-result",
      "name": "Format Final Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 0]
    }
  ],
  "connections": {
    "Manual Trigger (Fallback)": {
      "main": [
        [
          {
            "node": "Validate Issue Contract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Issue Contract": {
      "main": [
        [
          {
            "node": "Prepare RUN_INPUT.json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare RUN_INPUT.json": {
      "main": [
        [
          {
            "node": "SSH Write RUN_INPUT to Runner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SSH Write RUN_INPUT to Runner": {
      "main": [
        [
          {
            "node": "SSH Start Runner Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SSH Start Runner Script": {
      "main": [
        [
          {
            "node": "Wait (5s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait (5s)": {
      "main": [
        [
          {
            "node": "SSH Read status.json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SSH Read status.json": {
      "main": [
        [
          {
            "node": "Format Evidence Comment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Evidence Comment": {
      "main": [
        [
          {
            "node": "Format Final Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": null,
  "activeVersionId": null,
  "triggerCount": 0,
  "tags": [
    {
      "name": "github",
      "id": "1"
    },
    {
      "name": "source-of-truth",
      "id": "2"
    }
  ],
  "description": "GitHub Issue → Runner Agent Intake Workflow. Manual Trigger Fallback (kein GitHub Trigger bis Credential konfiguriert). Liest Issue-Kontext, erzeugt RUN_INPUT.json, startet Runner, liest Evidence, formatiert Issue-Kommentar."
}
