workflows/github-ready-issue-dispatch.export.json
{
  "name": "GitHub Ready Issue -> Runner Agent Dispatch",
  "nodes": [
    {
      "parameters": {},
      "id": "a1b2c3d4-e001-4001-a001-000000000001",
      "name": "Manual Trigger (Smoke Test)",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.github.com/repos/{{ $json.owner }}/{{ $json.repo }}/issues/{{ $json.issue_number }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Accept", "value": "application/vnd.github+json"},
            {"name": "X-GitHub-Api-Version", "value": "2022-11-28"}
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-e002-4002-a002-000000000002",
      "name": "Fetch Issue from GitHub",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [256, 0],
      "credentials": {
        "githubApi": {
          "id": "M5hvZu2nCwFcHBYX",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================================================\n// Guardrails: Validate issue state before dispatch\n// Check: issue open, agent:ready present, no running/blocked/done\n// ============================================================================\n\nconst prepRef = $('Manual Trigger (Smoke Test)').first().json;\nconst issueData = $input.first().json;\n\nconst owner = prepRef.owner || 'xxammaxx';\nconst repo = prepRef.repo || 'n8n-blueprint-workflow';\nconst issueNumber = prepRef.issue_number || issueData.number || 0;\nconst issueTitle = issueData.title || '';\nconst issueBody = issueData.body || '';\nconst issueState = issueData.state || 'unknown';\nconst labels = issueData.labels || [];\n\nconst labelNames = labels.map(function(l) { return typeof l === 'string' ? l : l.name; }).filter(Boolean);\nconst hasReady = labelNames.includes('agent:ready');\nconst hasRunning = labelNames.includes('agent:running');\nconst hasBlocked = labelNames.includes('agent:blocked');\nconst hasDone = labelNames.includes('agent:done');\n\nvar mode = 'manual-terminal';\nif (labelNames.includes('mode:opencode-run')) mode = 'opencode-run';\nelse if (labelNames.includes('mode:hermes-review')) mode = 'hermes-review';\n\nvar risk = 'medium';\nif (labelNames.includes('risk:low')) risk = 'low';\nelse if (labelNames.includes('risk:high')) risk = 'high';\n\nconst isOpen = issueState === 'open';\nconst canStart = isOpen && hasReady && !hasRunning && !hasBlocked && !hasDone;\n\nconst guardResult = {\n  owner: owner,\n  repo: repo,\n  issue_number: issueNumber,\n  issue_title: issueTitle,\n  issue_body: issueBody,\n  issue_url: 'https://github.com/' + owner + '/' + repo + '/issues/' + issueNumber,\n  is_open: isOpen,\n  has_ready: hasReady,\n  has_running: hasRunning,\n  has_blocked: hasBlocked,\n  has_done: hasDone,\n  can_start: canStart,\n  mode: mode,\n  risk: risk,\n  labels: labels,\n  label_names: labelNames,\n  guardrail: canStart ? 'PASS' : 'BLOCKED',\n  guardrail_reason: !isOpen ? 'issue not open' :\n                    !hasReady ? 'label agent:ready missing' :\n                    hasRunning ? 'already running' :\n                    hasBlocked ? 'is blocked' :\n                    hasDone ? 'is done' : 'unknown'\n};\n\nif (!canStart) {\n  throw new Error('GUARDRAIL_BLOCKED: ' + guardResult.guardrail_reason + ' (issue #' + issueNumber + ')');\n}\n\nreturn [{\n  json: guardResult\n}];"
      },
      "id": "a1b2c3d4-e003-4003-a003-000000000003",
      "name": "Guardrails & Validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [512, 0]
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://api.github.com/repos/{{ $json.owner }}/{{ $json.repo }}/issues/{{ $json.issue_number }}/labels/agent%3Aready",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Accept", "value": "application/vnd.github+json"},
            {"name": "X-GitHub-Api-Version", "value": "2022-11-28"}
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-e004-4004-a004-000000000004",
      "name": "Remove agent:ready Label",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [768, 0],
      "credentials": {
        "githubApi": {
          "id": "M5hvZu2nCwFcHBYX",
          "name": "GitHub account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/{{ $('Guardrails & Validate').first().json.owner }}/{{ $('Guardrails & Validate').first().json.repo }}/issues/{{ $('Guardrails & Validate').first().json.issue_number }}/labels",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Accept", "value": "application/vnd.github+json"},
            {"name": "X-GitHub-Api-Version", "value": "2022-11-28"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"labels\": [\"agent:running\"]\n}",
        "options": {}
      },
      "id": "a1b2c3d4-e005-4005-a005-000000000005",
      "name": "Add agent:running Label",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1024, 0],
      "credentials": {
        "githubApi": {
          "id": "M5hvZu2nCwFcHBYX",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================================================\n// Prepare RUN_INPUT.json from GitHub Issue Data\n// Adapted from validated 12-node baseline - uses GitHub API response as input\n// ============================================================================\n\nconst guardData = $('Guardrails & Validate').first().json;\n\nconst owner = String(guardData.owner || 'xxammaxx').trim();\nconst repo = String(guardData.repo || 'n8n-blueprint-workflow').trim();\nconst issueNumber = Number(guardData.issue_number || 1);\nconst mode = String(guardData.mode || 'manual-terminal').trim();\n\nif (!owner) throw new Error('Missing owner');\nif (!repo) throw new Error('Missing repo');\nif (!Number.isInteger(issueNumber) || issueNumber < 1) throw new Error('Invalid issue_number: ' + issueNumber);\n\nconst now = new Date();\nconst ts = now.toISOString().replace(/[-:]/g, '').replace(/\\.\\d{3}Z$/, 'Z');\nconst runId = 'gh-issue-' + issueNumber + '-' + ts;\nconst issueUrl = 'https://github.com/' + owner + '/' + repo + '/issues/' + issueNumber;\n\nconst safeOwner = owner.replace(/[^a-zA-Z0-9_.-]/g, '-');\nconst safeRepo = repo.replace(/[^a-zA-Z0-9_.-]/g, '-');\n\nconst evidenceRoot = '/opt/dev-fabric/evidence/github-agent-runs';\nconst runInputRemote = evidenceRoot + '/' + safeOwner + '/' + safeRepo + '/issue-' + issueNumber + '/' + runId + '/RUN_INPUT.json';\nconst evidenceDir = evidenceRoot + '/' + safeOwner + '/' + safeRepo + '/issue-' + issueNumber + '/' + runId;\n\nconst runInput = {\n  run_id: runId,\n  source_of_truth: 'github',\n  github: {\n    owner: owner,\n    repo: repo,\n    issue_number: issueNumber,\n    issue_url: issueUrl,\n    trigger_label: 'agent:ready'\n  },\n  mode: mode,\n  approval_policy: {\n    push: false,\n    pr: false,\n    merge: false,\n    github_actions: false,\n    provider_config: false\n  },\n  runner: {\n    workspace_root: '/opt/dev-fabric/workspaces/projects',\n    evidence_root: evidenceRoot\n  },\n  agent_runtime: {\n    opencode_available: true,\n    opencode_version: 'v1.17.9',\n    opencode_provider_configured: false,\n    hermes_available: false\n  }\n};\n\nconst runInputJson = JSON.stringify(runInput, null, 2);\nconst runInputB64 = Buffer.from(runInputJson, 'utf-8').toString('base64');\n\nreturn [{\n  json: {\n    owner: owner,\n    repo: repo,\n    issue_number: issueNumber,\n    run_id: runId,\n    mode: mode,\n    issue_url: issueUrl,\n    run_input_remote: runInputRemote,\n    run_input_b64: runInputB64,\n    evidence_dir: evidenceDir,\n    guardrail_passed: guardData.can_start,\n    labels: guardData.label_names\n  }\n}];"
      },
      "id": "a1b2c3d4-e006-4006-a006-000000000006",
      "name": "Prepare RUN_INPUT.json",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1280, 0]
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "=set -euo pipefail\nRUN_INPUT_PATH=\"{{$json.run_input_remote}}\"\nRUN_INPUT_DIR=\"$(dirname \"$RUN_INPUT_PATH\")\"\nmkdir -p \"$RUN_INPUT_DIR\"\nprintf '%s' \"{{$json.run_input_b64}}\" | base64 -d > \"$RUN_INPUT_PATH\"\nchmod 640 \"$RUN_INPUT_PATH\"\ntest -s \"$RUN_INPUT_PATH\"\njq . \"$RUN_INPUT_PATH\" >/dev/null\nBYTES=\"$(wc -c < \"$RUN_INPUT_PATH\" | tr -d ' ')\"\necho \"{\\\"ok\\\":true,\\\"phase\\\":\\\"ssh_write_run_input\\\",\\\"run_input_path\\\":\\\"$RUN_INPUT_PATH\\\",\\\"bytes\\\":$BYTES}\""
      },
      "id": "a1b2c3d4-e007-4007-a007-000000000007",
      "name": "SSH Write RUN_INPUT to Runner",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [1536, 0],
      "credentials": {
        "sshPrivateKey": {
          "id": "42a60f05-16eb-493f-8257-3eeb5aef531a",
          "name": "dev-runner-ssh"
        }
      }
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "=set +e\nRUN_INPUT_PATH=\"{{$('Prepare RUN_INPUT.json').first().json.run_input_remote}}\"\n/opt/dev-fabric/scripts/start_github_issue_run.sh --input-json \"$RUN_INPUT_PATH\"\nRC=\"$?\"\necho \"{\\\"ok\\\":true,\\\"phase\\\":\\\"ssh_start_runner_script\\\",\\\"run_input_path\\\":\\\"$RUN_INPUT_PATH\\\",\\\"exit_code\\\":$RC}\"\nexit \"$RC\""
      },
      "id": "a1b2c3d4-e008-4008-a008-000000000008",
      "name": "SSH Start Runner Script",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [1792, 0],
      "credentials": {
        "sshPrivateKey": {
          "id": "42a60f05-16eb-493f-8257-3eeb5aef531a",
          "name": "dev-runner-ssh"
        }
      }
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "id": "a1b2c3d4-e009-4009-a009-000000000009",
      "name": "Wait (5s)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [2048, 0],
      "webhookId": "a1b2c3d4-e009-w001-a009-000000000009"
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "=set -euo pipefail\n\nSTATUS_PATH=\"{{$('Prepare RUN_INPUT.json').first().json.evidence_dir}}/status.json\"\n\nfor i in $(seq 1 30); do\n  if [ -s \"$STATUS_PATH\" ]; then\n    jq . \"$STATUS_PATH\"\n    exit 0\n  fi\n  sleep 2\ndone\n\necho \"{\\\"ok\\\":false,\\\"error\\\":\\\"status.json not found after timeout\\\",\\\"status_path\\\":\\\"$STATUS_PATH\\\"}\"\nexit 1"
      },
      "id": "a1b2c3d4-e010-4010-a010-000000000010",
      "name": "SSH Read status.json",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [2304, 0],
      "credentials": {
        "sshPrivateKey": {
          "id": "42a60f05-16eb-493f-8257-3eeb5aef531a",
          "name": "dev-runner-ssh"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================================================\n// Format Evidence Comment\n// Uses stable cross-node references to Prepare RUN_INPUT.json\n// ============================================================================\n\nconst prepData = $('Prepare RUN_INPUT.json').first().json;\nconst statusOutput = $input.first().json;\n\nlet status = 'UNKNOWN';\nlet runId = prepData.run_id || 'unknown';\nlet effectiveMode = prepData.mode || 'manual-terminal';\nlet opencodeAvailable = 'PASS (v1.17.9)';\nlet opencodeProviderConfigured = 'NO';\nlet evidenceDir = prepData.evidence_dir || '/opt/dev-fabric/evidence/github-agent-runs/' + prepData.owner + '/' + prepData.repo + '/issue-' + prepData.issue_number + '/' + runId + '/';\n\ntry {\n  if (typeof statusOutput === 'string') {\n    const parsed = JSON.parse(statusOutput);\n    status = parsed.status || status;\n    if (parsed.mode && parsed.mode.effective) effectiveMode = parsed.mode.effective;\n    if (parsed.agent_runtime) {\n      opencodeAvailable = parsed.agent_runtime.opencode_available ? 'PASS (' + (parsed.agent_runtime.opencode_version || 'v1.17.9') + ')' : 'FAIL';\n      opencodeProviderConfigured = parsed.agent_runtime.opencode_provider_configured ? 'YES' : 'NO';\n    }\n  } else if (typeof statusOutput === 'object') {\n    status = statusOutput.status || statusOutput.error || status;\n  }\n} catch (e) {\n  status = 'GREEN_PARTIAL (parse error: ' + e.message + ')';\n}\n\nconst commentBody = '## Agent Run Result\\n\\n**Status:** ' + status + '\\n\\n**Run ID:** ' + runId + '\\n**Mode:** ' + effectiveMode + '\\n**Source of Truth:** GitHub Issue\\n**Runner:** lxc-dev-runner / 192.168.1.53\\n\\n### Evidence\\n\\nLocal evidence path:\\n\\n```text\\n' + evidenceDir + '\\n```\\n\\n### Verification\\n\\n| Check | Result |\\n| --- | --- |\\n| RUN_INPUT validated | PASS |\\n| Runner started | PASS |\\n| Evidence written | PASS |\\n| OpenCode available | ' + opencodeAvailable + ' |\\n| OpenCode provider configured | ' + opencodeProviderConfigured + ' |\\n\\n### Approval state\\n\\n- Push: not approved\\n- PR: not approved\\n- Merge: not approved\\n- GitHub Actions: not approved\\n- Provider/API-Key configuration: not approved';\n\nreturn [{\n  json: {\n    owner: prepData.owner,\n    repo: prepData.repo,\n    issue_number: prepData.issue_number,\n    issue_url: prepData.issue_url,\n    run_id: runId,\n    status: status,\n    mode: effectiveMode,\n    evidence_dir: evidenceDir,\n    comment_body: commentBody\n  }\n}];"
      },
      "id": "a1b2c3d4-e011-4011-a011-000000000011",
      "name": "Format Evidence Comment",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2560, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/{{ $json.owner }}/{{ $json.repo }}/issues/{{ $json.issue_number }}/comments",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Accept", "value": "application/vnd.github+json"},
            {"name": "X-GitHub-Api-Version", "value": "2022-11-28"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"body\": {{ JSON.stringify($json.comment_body) }}\n}",
        "options": {}
      },
      "id": "a1b2c3d4-e012-4012-a012-000000000012",
      "name": "Create GitHub Comment on Issue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2816, 0],
      "credentials": {
        "githubApi": {
          "id": "M5hvZu2nCwFcHBYX",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/{{ $('Prepare RUN_INPUT.json').first().json.owner }}/{{ $('Prepare RUN_INPUT.json').first().json.repo }}/issues/{{ $('Prepare RUN_INPUT.json').first().json.issue_number }}/labels",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Accept", "value": "application/vnd.github+json"},
            {"name": "X-GitHub-Api-Version", "value": "2022-11-28"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"labels\": [\"agent:needs-review\", \"evidence:attached\"]\n}",
        "options": {}
      },
      "id": "a1b2c3d4-e013-4013-a013-000000000013",
      "name": "Add Labels (agent:needs-review, evidence:attached)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [3072, 0],
      "credentials": {
        "githubApi": {
          "id": "M5hvZu2nCwFcHBYX",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://api.github.com/repos/{{ $('Prepare RUN_INPUT.json').first().json.owner }}/{{ $('Prepare RUN_INPUT.json').first().json.repo }}/issues/{{ $('Prepare RUN_INPUT.json').first().json.issue_number }}/labels/agent%3Arunning",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Accept", "value": "application/vnd.github+json"},
            {"name": "X-GitHub-Api-Version", "value": "2022-11-28"}
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-e014-4014-a014-000000000014",
      "name": "Remove agent:running Label (404-tolerant)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [3328, 0],
      "credentials": {
        "githubApi": {
          "id": "M5hvZu2nCwFcHBYX",
          "name": "GitHub account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================================\n// Final Result / Log Output\n// ============================================================================\n\nconst prepData = $('Prepare RUN_INPUT.json').first().json;\nconst data = $input.first().json;\n\nconst result = {\n  status: 'GREEN_PARTIAL_PLUS',\n  issue_number: prepData.issue_number,\n  issue_url: prepData.issue_url,\n  run_id: prepData.run_id,\n  evidence_dir: prepData.evidence_dir,\n  dispatch_mode: 'manual-terminal',\n  guardrail_passed: true,\n  labels_updated: true,\n  comment_posted: true,\n  next_action: 'Issue remains open. Human review required. Labels: agent:needs-review + evidence:attached set. OpenCode Provider/Auth + Hermes continue pending.'\n};\n\nreturn result;"
      },
      "id": "a1b2c3d4-e015-4015-a015-000000000015",
      "name": "Format Final Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3584, 0]
    }
  ],
  "pinData": {
    "Manual Trigger (Smoke Test)": [
      {
        "json": {
          "owner": "xxammaxx",
          "repo": "n8n-blueprint-workflow",
          "issue_number": 2,
          "labels": ["agent:ready", "mode:manual-terminal", "risk:low"]
        }
      }
    ]
  },
  "connections": {
    "Manual Trigger (Smoke Test)": {
      "main": [[{"node": "Fetch Issue from GitHub", "type": "main", "index": 0}]]
    },
    "Fetch Issue from GitHub": {
      "main": [[{"node": "Guardrails & Validate", "type": "main", "index": 0}]]
    },
    "Guardrails & Validate": {
      "main": [[{"node": "Remove agent:ready Label", "type": "main", "index": 0}]]
    },
    "Remove agent:ready Label": {
      "main": [[{"node": "Add agent:running Label", "type": "main", "index": 0}]]
    },
    "Add agent:running Label": {
      "main": [[{"node": "Prepare RUN_INPUT.json", "type": "main", "index": 0}]]
    },
    "Prepare RUN_INPUT.json": {
      "main": [[{"node": "SSH Write RUN_INPUT to Runner", "type": "main", "index": 0}]]
    },
    "SSH Write RUN_INPUT to Runner": {
      "main": [[{"node": "SSH Start Runner Script", "type": "main", "index": 0}]]
    },
    "SSH Start Runner Script": {
      "main": [[{"node": "Wait (5s)", "type": "main", "index": 0}]]
    },
    "Wait (5s)": {
      "main": [[{"node": "SSH Read status.json", "type": "main", "index": 0}]]
    },
    "SSH Read status.json": {
      "main": [[{"node": "Format Evidence Comment", "type": "main", "index": 0}]]
    },
    "Format Evidence Comment": {
      "main": [[{"node": "Create GitHub Comment on Issue", "type": "main", "index": 0}]]
    },
    "Create GitHub Comment on Issue": {
      "main": [[{"node": "Add Labels (agent:needs-review, evidence:attached)", "type": "main", "index": 0}]]
    },
    "Add Labels (agent:needs-review, evidence:attached)": {
      "main": [[{"node": "Remove agent:running Label (404-tolerant)", "type": "main", "index": 0}]]
    },
    "Remove agent:running Label (404-tolerant)": {
      "main": [[{"node": "Format Final Result", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "b2c3d4e5-11df-442c-bb75-e1e773a2234f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "72c021160f0a3c7891b7d20e0d3bdec2ba1578ff05986542ccc43fea87e54d33"
  },
  "nodeGroups": [],
  "id": "k1c2d3FfWHee6Jr0e",
  "tags": [
    {
      "name": "source-of-truth"
    },
    {
      "name": "github"
    },
    {
      "name": "dispatcher"
    }
  ]
}
