workflows/speckit-smoke-workflow.json
{"name":"Speckit Smoke Workflow","nodes":[{"parameters":{},"id":"manual-trigger","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[240,300]},{"parameters":{"mode":"manual","fields":{"values":[{"name":"workspace_name","type":"stringValue","stringValue":"speckit-smoke-test"},{"name":"iteration_number","type":"numberValue","numberValue":"1"},{"name":"task_text","type":"stringValue","stringValue":""}]}},"id":"input-fields","name":"Input","type":"n8n-nodes-base.set","typeVersion":3.2,"position":[460,300]},{"parameters":{"authentication":"privateKey","resource":"command","operation":"execute","command":"={{ \u0027/opt/dev-fabric/scripts/speckit_iteration.sh \u0027 + JSON.stringify(\u0027/opt/dev-fabric/workspaces/\u0027 + $node[\"Input\"].json.workspace_name) + \u0027 \u0027 + JSON.stringify(String($node[\"Input\"].json.iteration_number)) + ($node[\"Input\"].json.task_text ? \u0027 \u0027 + JSON.stringify($node[\"Input\"].json.task_text) : \u0027\u0027) }}","cwd":"/"},"id":"run-smoke","name":"Run Smoke","type":"n8n-nodes-base.ssh","typeVersion":1,"position":[700,300]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const input = $node[\"Input\"].json;\nconst run = $node[\"Run Smoke\"].json;\nconst stdout = run.stdout ?? \u0027\u0027;\nconst stderr = run.stderr ?? \u0027\u0027;\nconst evidenceMatch = stdout.match(/evidence_dir=([^\\r\\n]+)/);\nconst evidenceDir = evidenceMatch ? evidenceMatch[1].trim() : null;\n\nreturn [{\n  json: {\n    workspace_name: input.workspace_name,\n    iteration_number: input.iteration_number,\n    task_text: input.task_text,\n    evidence_dir: evidenceDir,\n    runner: {\n      code: run.code ?? null,\n      stdout,\n      stderr,\n    },\n  },\n}];"},"id":"extract-evidence","name":"Extract Evidence","type":"n8n-nodes-base.code","typeVersion":2,"position":[940,300]},{"parameters":{"authentication":"privateKey","resource":"command","operation":"execute","command":"={{ \u0027cat \u0027 + $node[\"Extract Evidence\"].json.evidence_dir + \u0027/report.json\u0027 }}","cwd":"/"},"id":"read-report-json","name":"Read Report JSON","type":"n8n-nodes-base.ssh","typeVersion":1,"position":[1180,220]},{"parameters":{"authentication":"privateKey","resource":"command","operation":"execute","command":"={{ \u0027cat \u0027 + $node[\"Extract Evidence\"].json.evidence_dir + \u0027/report.md\u0027 }}","cwd":"/"},"id":"read-report-md","name":"Read Report MD","type":"n8n-nodes-base.ssh","typeVersion":1,"position":[1420,220]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const input = $node[\"Input\"].json;\nconst smoke = $node[\"Run Smoke\"].json;\nconst extracted = $node[\"Extract Evidence\"].json;\nconst reportJsonRaw = $node[\"Read Report JSON\"].json.stdout ?? \u0027\u0027;\nconst reportMd = $node[\"Read Report MD\"].json.stdout ?? \u0027\u0027;\n\nlet reportJson = null;\nlet reportJsonError = null;\ntry {\n  reportJson = JSON.parse(reportJsonRaw);\n} catch (error) {\n  reportJsonError = error.message;\n}\n\nconst ok = smoke.code === 0 \u0026\u0026 Boolean(extracted.evidence_dir) \u0026\u0026 !reportJsonError;\n\nreturn [{\n  json: {\n    status: ok ? \u0027GREEN\u0027 : \u0027GREEN_PARTIAL\u0027,\n    ok,\n    workspace_name: input.workspace_name,\n    iteration_number: input.iteration_number,\n    task_text: input.task_text,\n    evidence_dir: extracted.evidence_dir,\n    runner: {\n      code: smoke.code ?? null,\n      stdout: smoke.stdout ?? \u0027\u0027,\n      stderr: smoke.stderr ?? \u0027\u0027,\n    },\n    report_json: reportJson,\n    report_json_raw: reportJsonRaw,\n    report_json_error: reportJsonError,\n    report_md: reportMd,\n    summary: ok\n      ? `Smoke workflow completed for ${input.workspace_name} iter ${input.iteration_number}`\n      : `Smoke workflow completed with partial issues for ${input.workspace_name} iter ${input.iteration_number}`,\n  },\n}];"},"id":"build-result","name":"Build Result","type":"n8n-nodes-base.code","typeVersion":2,"position":[1660,220]}],"connections":{"Manual Trigger":{"main":[[{"node":"Input","type":"main","index":0}]]},"Input":{"main":[[{"node":"Run Smoke","type":"main","index":0}]]},"Run Smoke":{"main":[[{"node":"Extract Evidence","type":"main","index":0}]]},"Extract Evidence":{"main":[[{"node":"Read Report JSON","type":"main","index":0}]]},"Read Report JSON":{"main":[[{"node":"Read Report MD","type":"main","index":0}]]},"Read Report MD":{"main":[[{"node":"Build Result","type":"main","index":0}]]}},"active":false,"settings":{"executionOrder":"v1"},"versionId":"speckit-smoke-workflow-v1"}
