evidence/guardrails-trigger-agnostic-fix-20260627T062657Z/execution-48-full.json
{
    "id":  "48",
    "finished":  false,
    "mode":  "trigger",
    "retryOf":  null,
    "retrySuccessId":  null,
    "status":  "error",
    "createdAt":  "2026-06-27T06:45:28.008Z",
    "startedAt":  "2026-06-27T06:45:28.013Z",
    "stoppedAt":  "2026-06-27T06:46:54.340Z",
    "deletedAt":  null,
    "workflowId":  "Sv12QTo56NoPUu2D",
    "waitTill":  null,
    "storedAt":  "db",
    "tracingContext":  null,
    "deduplicationKey":  null,
    "data":  {
                 "version":  1,
                 "startData":  {

                               },
                 "resultData":  {
                                    "error":  {
                                                  "level":  "error",
                                                  "tags":  {

                                                           },
                                                  "description":  "SyntaxError",
                                                  "message":  "Unexpected token \u0027===\u0027 ",
                                                  "stack":  "evalmachine.\u003canonymous\u003e:3\n===========================================================================\n^^^\n\nSyntaxError: Unexpected token \u0027===\u0027\n    at new Script (node:vm:117:7)\n    at createScript (node:vm:269:10)\n    at runInContext (node:vm:300:10)\n    at result (/usr/lib/node_modules/n8n/node_modules/@n8n/task-runner/dist/js-task-runner/js-task-runner.js:215:61)\n    at new Promise (\u003canonymous\u003e)\n    at JsTaskRunner.runForAllItems (/usr/lib/node_modules/n8n/node_modules/@n8n/task-runner/dist/js-task-runner/js-task-runner.js:208:34)\n    at JsTaskRunner.executeTask (/usr/lib/node_modules/n8n/node_modules/@n8n/task-runner/dist/js-task-runner/js-task-runner.js:143:26)\n    at process.processTicksAndRejections (node:internal/process/task_queues:103:5)\n    at async Object.waitingForSettings (/usr/lib/node_modules/n8n/node_modules/@n8n/task-runner/dist/task-runner.js:275:17)\n    at async TaskState.caseOf (/usr/lib/node_modules/n8n/node_modules/@n8n/task-runner/dist/task-state.js:56:16)"
                                              },
                                    "runData":  {
                                                    "Schedule Trigger (15 min)":  [
                                                                                      {
                                                                                          "startTime":  1782542728023,
                                                                                          "executionIndex":  0,
                                                                                          "source":  [

                                                                                                     ],
                                                                                          "hints":  [

                                                                                                    ],
                                                                                          "executionTime":  0,
                                                                                          "executionStatus":  "success",
                                                                                          "data":  {
                                                                                                       "main":  "System.Object[]"
                                                                                                   }
                                                                                      }
                                                                                  ],
                                                    "GitHub Search Issues (agent:ready)":  [
                                                                                               {
                                                                                                   "startTime":  1782542728023,
                                                                                                   "executionIndex":  1,
                                                                                                   "source":  [
                                                                                                                  "@{previousNode=Schedule Trigger (15 min); previousNodeOutput=0; previousNodeRun=0}"
                                                                                                              ],
                                                                                                   "hints":  [

                                                                                                             ],
                                                                                                   "executionTime":  418,
                                                                                                   "executionStatus":  "success",
                                                                                                   "data":  {
                                                                                                                "main":  "System.Object[]"
                                                                                                            }
                                                                                               }
                                                                                           ],
                                                    "Pick First Ready Issue":  [
                                                                                   {
                                                                                       "startTime":  1782542728441,
                                                                                       "executionIndex":  2,
                                                                                       "source":  [
                                                                                                      "@{previousNode=GitHub Search Issues (agent:ready); previousNodeOutput=0; previousNodeRun=0}"
                                                                                                  ],
                                                                                       "hints":  [

                                                                                                 ],
                                                                                       "executionTime":  9,
                                                                                       "executionStatus":  "success",
                                                                                       "data":  {
                                                                                                    "main":  "System.Object[]"
                                                                                                }
                                                                                   }
                                                                               ],
                                                    "Fetch Issue from GitHub":  [
                                                                                    {
                                                                                        "startTime":  1782542728450,
                                                                                        "executionIndex":  3,
                                                                                        "source":  [
                                                                                                       "@{previousNode=Pick First Ready Issue; previousNodeOutput=0; previousNodeRun=0}"
                                                                                                   ],
                                                                                        "hints":  [

                                                                                                  ],
                                                                                        "executionTime":  328,
                                                                                        "executionStatus":  "success",
                                                                                        "data":  {
                                                                                                     "main":  "System.Object[]"
                                                                                                 }
                                                                                    }
                                                                                ],
                                                    "Guardrails \u0026 Validate":  [
                                                                                       {
                                                                                           "startTime":  1782542728778,
                                                                                           "executionIndex":  4,
                                                                                           "source":  [
                                                                                                          "@{previousNode=Fetch Issue from GitHub; previousNodeOutput=0; previousNodeRun=0}"
                                                                                                      ],
                                                                                           "hints":  [

                                                                                                     ],
                                                                                           "executionTime":  11,
                                                                                           "executionStatus":  "success",
                                                                                           "data":  {
                                                                                                        "main":  "System.Object[]"
                                                                                                    }
                                                                                       }
                                                                                   ],
                                                    "Remove agent:ready Label":  [
                                                                                     {
                                                                                         "startTime":  1782542728789,
                                                                                         "executionIndex":  5,
                                                                                         "source":  [
                                                                                                        "@{previousNode=Guardrails \u0026 Validate; previousNodeOutput=0; previousNodeRun=0}"
                                                                                                    ],
                                                                                         "hints":  [

                                                                                                   ],
                                                                                         "executionTime":  771,
                                                                                         "executionStatus":  "success",
                                                                                         "data":  {
                                                                                                      "main":  "System.Object[]"
                                                                                                  }
                                                                                     }
                                                                                 ],
                                                    "Add agent:running Label":  [
                                                                                    {
                                                                                        "startTime":  1782542729561,
                                                                                        "executionIndex":  6,
                                                                                        "source":  [
                                                                                                       "@{previousNode=Remove agent:ready Label; previousNodeOutput=0; previousNodeRun=0}"
                                                                                                   ],
                                                                                        "hints":  [

                                                                                                  ],
                                                                                        "executionTime":  682,
                                                                                        "executionStatus":  "success",
                                                                                        "data":  {
                                                                                                     "main":  "System.Object[]"
                                                                                                 }
                                                                                    }
                                                                                ],
                                                    "Prepare RUN_INPUT.json":  [
                                                                                   {
                                                                                       "startTime":  1782542730243,
                                                                                       "executionIndex":  7,
                                                                                       "source":  [
                                                                                                      "@{previousNode=Add agent:running Label; previousNodeOutput=0; previousNodeRun=0}"
                                                                                                  ],
                                                                                       "hints":  [

                                                                                                 ],
                                                                                       "executionTime":  15,
                                                                                       "executionStatus":  "success",
                                                                                       "data":  {
                                                                                                    "main":  "System.Object[]"
                                                                                                }
                                                                                   }
                                                                               ],
                                                    "SSH Write RUN_INPUT to Runner":  [
                                                                                          {
                                                                                              "startTime":  1782542730258,
                                                                                              "executionIndex":  8,
                                                                                              "source":  [
                                                                                                             "@{previousNode=Prepare RUN_INPUT.json; previousNodeOutput=0; previousNodeRun=0}"
                                                                                                         ],
                                                                                              "hints":  [

                                                                                                        ],
                                                                                              "executionTime":  25212,
                                                                                              "executionStatus":  "success",
                                                                                              "data":  {
                                                                                                           "main":  "System.Object[]"
                                                                                                       }
                                                                                          }
                                                                                      ],
                                                    "SSH Start Runner Script":  [
                                                                                    {
                                                                                        "startTime":  1782542755470,
                                                                                        "executionIndex":  9,
                                                                                        "source":  [
                                                                                                       "@{previousNode=SSH Write RUN_INPUT to Runner; previousNodeOutput=0; previousNodeRun=0}"
                                                                                                   ],
                                                                                        "hints":  [

                                                                                                  ],
                                                                                        "executionTime":  26663,
                                                                                        "executionStatus":  "success",
                                                                                        "data":  {
                                                                                                     "main":  "System.Object[]"
                                                                                                 }
                                                                                    }
                                                                                ],
                                                    "Wait (5s)":  [
                                                                      {
                                                                          "startTime":  1782542782133,
                                                                          "executionIndex":  10,
                                                                          "source":  [
                                                                                         "@{previousNode=SSH Start Runner Script; previousNodeOutput=0; previousNodeRun=0}"
                                                                                     ],
                                                                          "hints":  [

                                                                                    ],
                                                                          "executionTime":  5015,
                                                                          "executionStatus":  "success",
                                                                          "data":  {
                                                                                       "main":  "System.Object[]"
                                                                                   }
                                                                      }
                                                                  ],
                                                    "SSH Read status.json":  [
                                                                                 {
                                                                                     "startTime":  1782542787148,
                                                                                     "executionIndex":  11,
                                                                                     "source":  [
                                                                                                    "@{previousNode=Wait (5s); previousNodeOutput=0; previousNodeRun=0}"
                                                                                                ],
                                                                                     "hints":  [

                                                                                               ],
                                                                                     "executionTime":  25129,
                                                                                     "executionStatus":  "success",
                                                                                     "data":  {
                                                                                                  "main":  "System.Object[]"
                                                                                              }
                                                                                 }
                                                                             ],
                                                    "Format Evidence Comment":  [
                                                                                    {
                                                                                        "startTime":  1782542812278,
                                                                                        "executionIndex":  12,
                                                                                        "source":  [
                                                                                                       "@{previousNode=SSH Read status.json; previousNodeOutput=0; previousNodeRun=0}"
                                                                                                   ],
                                                                                        "hints":  [

                                                                                                  ],
                                                                                        "executionTime":  10,
                                                                                        "executionStatus":  "success",
                                                                                        "data":  {
                                                                                                     "main":  "System.Object[]"
                                                                                                 }
                                                                                    }
                                                                                ],
                                                    "Create GitHub Comment on Issue":  [
                                                                                           {
                                                                                               "startTime":  1782542812288,
                                                                                               "executionIndex":  13,
                                                                                               "source":  [
                                                                                                              "@{previousNode=Format Evidence Comment; previousNodeOutput=0; previousNodeRun=0}"
                                                                                                          ],
                                                                                               "hints":  [

                                                                                                         ],
                                                                                               "executionTime":  598,
                                                                                               "executionStatus":  "success",
                                                                                               "data":  {
                                                                                                            "main":  "System.Object[]"
                                                                                                        }
                                                                                           }
                                                                                       ],
                                                    "Add Labels (agent:needs-review, evidence:attached)":  [
                                                                                                               {
                                                                                                                   "startTime":  1782542812886,
                                                                                                                   "executionIndex":  14,
                                                                                                                   "source":  [
                                                                                                                                  "@{previousNode=Create GitHub Comment on Issue; previousNodeOutput=0; previousNodeRun=0}"
                                                                                                                              ],
                                                                                                                   "hints":  [

                                                                                                                             ],
                                                                                                                   "executionTime":  772,
                                                                                                                   "executionStatus":  "success",
                                                                                                                   "data":  {
                                                                                                                                "main":  "System.Object[]"
                                                                                                                            }
                                                                                                               }
                                                                                                           ],
                                                    "Remove agent:running Label (404-tolerant)":  [
                                                                                                      {
                                                                                                          "startTime":  1782542813659,
                                                                                                          "executionIndex":  15,
                                                                                                          "source":  [
                                                                                                                         "@{previousNode=Add Labels (agent:needs-review, evidence:attached); previousNodeOutput=0; previousNodeRun=0}"
                                                                                                                     ],
                                                                                                          "hints":  [

                                                                                                                    ],
                                                                                                          "executionTime":  668,
                                                                                                          "executionStatus":  "success",
                                                                                                          "data":  {
                                                                                                                       "main":  "System.Object[]"
                                                                                                                   }
                                                                                                      }
                                                                                                  ],
                                                    "Format Final Result":  [
                                                                                {
                                                                                    "startTime":  1782542814327,
                                                                                    "executionIndex":  16,
                                                                                    "source":  [
                                                                                                   "@{previousNode=Remove agent:running Label (404-tolerant); previousNodeOutput=0; previousNodeRun=0}"
                                                                                               ],
                                                                                    "hints":  [

                                                                                              ],
                                                                                    "executionTime":  13,
                                                                                    "executionStatus":  "error",
                                                                                    "error":  {
                                                                                                  "level":  "error",
                                                                                                  "tags":  "",
                                                                                                  "description":  "SyntaxError",
                                                                                                  "message":  "Unexpected token \u0027===\u0027 ",
                                                                                                  "stack":  "evalmachine.\u003canonymous\u003e:3\n===========================================================================\n^^^\n\nSyntaxError: Unexpected token \u0027===\u0027\n    at new Script (node:vm:117:7)\n    at createScript (node:vm:269:10)\n    at runInContext (node:vm:300:10)\n    at result (/usr/lib/node_modules/n8n/node_modules/@n8n/task-runner/dist/js-task-runner/js-task-runner.js:215:61)\n    at new Promise (\u003canonymous\u003e)\n    at JsTaskRunner.runForAllItems (/usr/lib/node_modules/n8n/node_modules/@n8n/task-runner/dist/js-task-runner/js-task-runner.js:208:34)\n    at JsTaskRunner.executeTask (/usr/lib/node_modules/n8n/node_modules/@n8n/task-runner/dist/js-task-runner/js-task-runner.js:143:26)\n    at process.processTicksAndRejections (node:internal/process/task_queues:103:5)\n    at async Object.waitingForSettings (/usr/lib/node_modules/n8n/node_modules/@n8n/task-runner/dist/task-runner.js:275:17)\n    at async TaskState.caseOf (/usr/lib/node_modules/n8n/node_modules/@n8n/task-runner/dist/task-state.js:56:16)"
                                                                                              }
                                                                                }
                                                                            ]
                                                },
                                    "lastNodeExecuted":  "Format Final Result"
                                },
                 "executionData":  {
                                       "contextData":  {

                                                       },
                                       "nodeExecutionStack":  [
                                                                  {
                                                                      "node":  {
                                                                                   "parameters":  {
                                                                                                      "mode":  "runOnceForAllItems",
                                                                                                      "language":  "javaScript",
                                                                                                      "jsCode":  "// ============================================================================\n// Final Result / Log Output\n===========================================================================\n\nconst prepData = $(\u0027Prepare RUN_INPUT.json\u0027).first().json;\n\nconst result = {\n  status: \u0027GREEN_PARTIAL_PLUS\u0027,\n  issue_number: prepData.issue_number,\n  issue_url: prepData.issue_url,\n  run_id: prepData.run_id,\n  evidence_dir: prepData.evidence_dir,\n  dispatch_mode: \u0027manual-terminal\u0027,\n  guardrail_passed: true,\n  labels_updated: true,\n  comment_posted: true,\n  next_action: \u0027Issue remains open. Human review required. Labels: agent:needs-review + evidence:attached set. OpenCode Provider/Auth + Hermes continue pending.\u0027\n};\n\nreturn [{ json: result }];",
                                                                                                      "notice":  ""
                                                                                                  },
                                                                                   "id":  "f1aedb55-8b84-4886-85be-8a672817add5",
                                                                                   "name":  "Format Final Result",
                                                                                   "type":  "n8n-nodes-base.code",
                                                                                   "typeVersion":  2,
                                                                                   "position":  [
                                                                                                    3584,
                                                                                                    0
                                                                                                ]
                                                                               },
                                                                      "data":  {
                                                                                   "main":  [
                                                                                                "                   "
                                                                                            ]
                                                                               },
                                                                      "source":  {
                                                                                     "main":  [
                                                                                                  "@{previousNode=Remove agent:running Label (404-tolerant); previousNodeOutput=0; previousNodeRun=0}"
                                                                                              ]
                                                                                 }
                                                                  }
                                                              ],
                                       "metadata":  {

                                                    },
                                       "waitingExecution":  {

                                                            },
                                       "waitingExecutionSource":  {

                                                                  },
                                       "runtimeData":  {
                                                           "version":  1,
                                                           "establishedAt":  1782542728008,
                                                           "source":  "trigger",
                                                           "triggerNode":  {
                                                                               "name":  "Schedule Trigger (15 min)",
                                                                               "type":  "n8n-nodes-base.scheduleTrigger"
                                                                           },
                                                           "redaction":  {
                                                                             "version":  2,
                                                                             "production":  false,
                                                                             "manual":  false,
                                                                             "source":  "workflow"
                                                                         }
                                                       }
                                   },
                 "resumeToken":  "bebe8b304fc603250310a23ee24cd2c9cd4addb258aba6d587e959ed4ee29245"
             },
    "workflowData":  {
                         "id":  "Sv12QTo56NoPUu2D",
                         "name":  "GitHub Ready Issue -\u003e Runner Agent Dispatch",
                         "nodes":  [
                                       {
                                           "parameters":  {
                                                              "notice":  ""
                                                          },
                                           "id":  "85e67e06-d857-4413-bba3-6247db0f2737",
                                           "name":  "Manual Trigger (Smoke Test)",
                                           "type":  "n8n-nodes-base.manualTrigger",
                                           "typeVersion":  1,
                                           "position":  [
                                                            0,
                                                            0
                                                        ]
                                       },
                                       {
                                           "parameters":  {
                                                              "curlImport":  "",
                                                              "method":  "GET",
                                                              "url":  "=https://api.github.com/repos/{{ $json.owner }}/{{ $json.repo }}/issues/{{ $json.issue_number }}",
                                                              "authentication":  "predefinedCredentialType",
                                                              "nodeCredentialType":  "githubApi",
                                                              "provideSslCertificates":  false,
                                                              "sendQuery":  false,
                                                              "sendHeaders":  true,
                                                              "specifyHeaders":  "keypair",
                                                              "headerParameters":  {
                                                                                       "parameters":  [
                                                                                                          "@{name=Accept; value=application/vnd.github+json}",
                                                                                                          "@{name=X-GitHub-Api-Version; value=2022-11-28}"
                                                                                                      ]
                                                                                   },
                                                              "sendBody":  false,
                                                              "options":  {

                                                                          },
                                                              "infoMessage":  ""
                                                          },
                                           "id":  "2d16d3af-2e93-433d-9feb-6e26d33c5100",
                                           "name":  "Fetch Issue from GitHub",
                                           "type":  "n8n-nodes-base.httpRequest",
                                           "typeVersion":  4,
                                           "position":  [
                                                            256,
                                                            0
                                                        ],
                                           "credentials":  {
                                                               "githubApi":  {
                                                                                 "id":  "M5hvZu2nCwFcHBYX",
                                                                                 "name":  "GitHub account"
                                                                             }
                                                           }
                                       },
                                       {
                                           "parameters":  {
                                                              "mode":  "runOnceForAllItems",
                                                              "language":  "javaScript",
                                                              "jsCode":  "// ============================================================================\n// Guardrails: Validate issue state before dispatch\n// Check: issue open, agent:ready present, no running/blocked/done\n// FIXED: Trigger-agnostic — works with BOTH Manual Trigger AND Schedule Trigger\n// ============================================================================\n\nconst issueData = $input.first().json;\n\n// Static values for single-repo dispatcher (no dependency on any specific trigger)\nconst owner = \u0027xxammaxx\u0027;\nconst repo = \u0027n8n-blueprint-workflow\u0027;\nconst issueNumber = issueData.number || 0;\nconst issueTitle = issueData.title || \u0027\u0027;\nconst issueBody = issueData.body || \u0027\u0027;\nconst issueState = issueData.state || \u0027unknown\u0027;\nconst labels = issueData.labels || [];\n\nconst labelNames = labels.map(function(l) { return typeof l === \u0027string\u0027 ? l : l.name; }).filter(Boolean);\nconst hasReady = labelNames.includes(\u0027agent:ready\u0027);\nconst hasRunning = labelNames.includes(\u0027agent:running\u0027);\nconst hasBlocked = labelNames.includes(\u0027agent:blocked\u0027);\nconst hasDone = labelNames.includes(\u0027agent:done\u0027);\nconst needsReview = labelNames.includes(\u0027agent:needs-review\u0027);\nconst evidenceAttached = labelNames.includes(\u0027evidence:attached\u0027);\n\nvar mode = \u0027manual-terminal\u0027;\nif (labelNames.includes(\u0027mode:opencode-run\u0027)) mode = \u0027opencode-run\u0027;\nelse if (labelNames.includes(\u0027mode:hermes-review\u0027)) mode = \u0027hermes-review\u0027;\n\nvar risk = \u0027medium\u0027;\nif (labelNames.includes(\u0027risk:low\u0027)) risk = \u0027low\u0027;\nelse if (labelNames.includes(\u0027risk:high\u0027)) risk = \u0027high\u0027;\n\nconst isOpen = issueState === \u0027open\u0027;\n\n// HARD BLOCK: Issue #3 is a completed smoke test — never re-process\nconst isIssue3 = issueNumber === 3;\n\n// Detect already-processed issues (agent:needs-review + evidence:attached = done)\nconst isAlreadyProcessed = needsReview \u0026\u0026 evidenceAttached;\n\nconst canStart = isOpen \u0026\u0026 hasReady \u0026\u0026 !hasRunning \u0026\u0026 !hasBlocked \u0026\u0026 !hasDone \u0026\u0026 !isIssue3 \u0026\u0026 !isAlreadyProcessed;\n\nconst guardResult = {\n  owner: owner,\n  repo: repo,\n  issue_number: issueNumber,\n  issue_title: issueTitle,\n  issue_body: issueBody,\n  issue_url: \u0027https://github.com/\u0027 + owner + \u0027/\u0027 + repo + \u0027/issues/\u0027 + issueNumber,\n  is_open: isOpen,\n  has_ready: hasReady,\n  has_running: hasRunning,\n  has_blocked: hasBlocked,\n  has_done: hasDone,\n  can_start: canStart,\n  mode: mode,\n  risk: risk,\n  labels: labels,\n  label_names: labelNames,\n  guardrail: canStart ? \u0027PASS\u0027 : \u0027BLOCKED\u0027,\n  guardrail_reason: canStart ? \u0027Ready to dispatch\u0027 : (\n    isIssue3 ? \u0027HARD BLOCK: Issue #3 is a completed smoke test — never re-process\u0027 :\n    isAlreadyProcessed ? \u0027Already processed (agent:needs-review + evidence:attached present)\u0027 :\n    !isOpen ? \u0027Issue is not open\u0027 :\n    !hasReady ? \u0027Missing agent:ready label\u0027 :\n    hasRunning ? \u0027agent:running already set — duplicate run blocked\u0027 :\n    hasBlocked ? \u0027Issue is blocked\u0027 :\n    hasDone ? \u0027Issue already done\u0027 : \u0027Unknown guardrail failure\u0027\n  )\n};\n\n// Block non-startable issues (but DON\u0027T mutate Error objects — create new error)\nif (!canStart) {\n  const blockError = new Error(\u0027GUARDRAIL_BLOCKED: \u0027 + guardResult.guardrail_reason + \u0027 (issue #\u0027 + issueNumber + \u0027)\u0027);\n  throw blockError;\n}\n\nreturn [{\n  json: guardResult\n}];",
                                                              "notice":  ""
                                                          },
                                           "id":  "848355a6-223e-4e84-8b34-b5e7b5f634dc",
                                           "name":  "Guardrails \u0026 Validate",
                                           "type":  "n8n-nodes-base.code",
                                           "typeVersion":  2,
                                           "position":  [
                                                            512,
                                                            0
                                                        ]
                                       },
                                       {
                                           "parameters":  {
                                                              "curlImport":  "",
                                                              "method":  "DELETE",
                                                              "url":  "=https://api.github.com/repos/{{ $json.owner }}/{{ $json.repo }}/issues/{{ $json.issue_number }}/labels/agent%3Aready",
                                                              "authentication":  "predefinedCredentialType",
                                                              "nodeCredentialType":  "githubApi",
                                                              "provideSslCertificates":  false,
                                                              "sendQuery":  false,
                                                              "sendHeaders":  true,
                                                              "specifyHeaders":  "keypair",
                                                              "headerParameters":  {
                                                                                       "parameters":  [
                                                                                                          "@{name=Accept; value=application/vnd.github+json}",
                                                                                                          "@{name=X-GitHub-Api-Version; value=2022-11-28}"
                                                                                                      ]
                                                                                   },
                                                              "sendBody":  false,
                                                              "options":  {

                                                                          },
                                                              "infoMessage":  ""
                                                          },
                                           "id":  "d0a66aea-4a62-4497-a2d9-ac2fabf08281",
                                           "name":  "Remove agent:ready Label",
                                           "type":  "n8n-nodes-base.httpRequest",
                                           "typeVersion":  4,
                                           "position":  [
                                                            768,
                                                            0
                                                        ],
                                           "credentials":  {
                                                               "githubApi":  {
                                                                                 "id":  "M5hvZu2nCwFcHBYX",
                                                                                 "name":  "GitHub account"
                                                                             }
                                                           },
                                           "onError":  "continueRegularOutput"
                                       },
                                       {
                                           "parameters":  {
                                                              "curlImport":  "",
                                                              "method":  "POST",
                                                              "url":  "=https://api.github.com/repos/{{ $(\u0027Guardrails \u0026 Validate\u0027).first().json.owner }}/{{ $(\u0027Guardrails \u0026 Validate\u0027).first().json.repo }}/issues/{{ $(\u0027Guardrails \u0026 Validate\u0027).first().json.issue_number }}/labels",
                                                              "authentication":  "predefinedCredentialType",
                                                              "nodeCredentialType":  "githubApi",
                                                              "provideSslCertificates":  false,
                                                              "sendQuery":  false,
                                                              "sendHeaders":  true,
                                                              "specifyHeaders":  "keypair",
                                                              "headerParameters":  {
                                                                                       "parameters":  [
                                                                                                          "@{name=Accept; value=application/vnd.github+json}",
                                                                                                          "@{name=X-GitHub-Api-Version; value=2022-11-28}"
                                                                                                      ]
                                                                                   },
                                                              "sendBody":  true,
                                                              "contentType":  "json",
                                                              "specifyBody":  "json",
                                                              "jsonBody":  "={\n  \"labels\": [\"agent:running\"]\n}",
                                                              "options":  {

                                                                          },
                                                              "infoMessage":  ""
                                                          },
                                           "id":  "f75e4581-12a9-4da9-8370-82bc2d6dbac4",
                                           "name":  "Add agent:running Label",
                                           "type":  "n8n-nodes-base.httpRequest",
                                           "typeVersion":  4,
                                           "position":  [
                                                            1024,
                                                            0
                                                        ],
                                           "credentials":  {
                                                               "githubApi":  {
                                                                                 "id":  "M5hvZu2nCwFcHBYX",
                                                                                 "name":  "GitHub account"
                                                                             }
                                                           }
                                       },
                                       {
                                           "parameters":  {
                                                              "mode":  "runOnceForAllItems",
                                                              "language":  "javaScript",
                                                              "jsCode":  "// ============================================================================\n// Prepare RUN_INPUT.json from GitHub Issue Data\n// Adapted from validated 12-node baseline - uses GitHub API response as input\n// ============================================================================\n\nconst guardData = $(\u0027Guardrails \u0026 Validate\u0027).first().json;\n\nconst owner = String(guardData.owner || \u0027xxammaxx\u0027).trim();\nconst repo = String(guardData.repo || \u0027n8n-blueprint-workflow\u0027).trim();\nconst issueNumber = Number(guardData.issue_number || 1);\nconst mode = String(guardData.mode || \u0027manual-terminal\u0027).trim();\n\nif (!owner) throw new Error(\u0027Missing owner\u0027);\nif (!repo) throw new Error(\u0027Missing repo\u0027);\nif (!Number.isInteger(issueNumber) || issueNumber \u003c 1) throw new Error(\u0027Invalid issue_number: \u0027 + issueNumber);\n\nconst now = new Date();\nconst ts = now.toISOString().replace(/[-:]/g, \u0027\u0027).replace(/\\.\\d{3}Z$/, \u0027Z\u0027);\nconst runId = \u0027gh-issue-\u0027 + issueNumber + \u0027-\u0027 + ts;\nconst issueUrl = \u0027https://github.com/\u0027 + owner + \u0027/\u0027 + repo + \u0027/issues/\u0027 + issueNumber;\n\nconst safeOwner = owner.replace(/[^a-zA-Z0-9_.-]/g, \u0027-\u0027);\nconst safeRepo = repo.replace(/[^a-zA-Z0-9_.-]/g, \u0027-\u0027);\n\nconst evidenceRoot = \u0027/opt/dev-fabric/evidence/github-agent-runs\u0027;\nconst runInputRemote = evidenceRoot + \u0027/\u0027 + safeOwner + \u0027/\u0027 + safeRepo + \u0027/issue-\u0027 + issueNumber + \u0027/\u0027 + runId + \u0027/RUN_INPUT.json\u0027;\nconst evidenceDir = evidenceRoot + \u0027/\u0027 + safeOwner + \u0027/\u0027 + safeRepo + \u0027/issue-\u0027 + issueNumber + \u0027/\u0027 + runId;\n\nconst runInput = {\n  run_id: runId,\n  source_of_truth: \u0027github\u0027,\n  github: {\n    owner: owner,\n    repo: repo,\n    issue_number: issueNumber,\n    issue_url: issueUrl,\n    trigger_label: \u0027agent:ready\u0027\n  },\n  mode: mode,\n  approval_policy: {\n    push: false,\n    pr: false,\n    merge: false,\n    github_actions: false,\n    provider_config: false\n  },\n  runner: {\n    workspace_root: \u0027/opt/dev-fabric/workspaces/projects\u0027,\n    evidence_root: evidenceRoot\n  },\n  agent_runtime: {\n    opencode_available: true,\n    opencode_version: \u0027v1.17.9\u0027,\n    opencode_provider_configured: false,\n    hermes_available: false\n  }\n};\n\nconst runInputJson = JSON.stringify(runInput, null, 2);\nconst runInputB64 = Buffer.from(runInputJson, \u0027utf-8\u0027).toString(\u0027base64\u0027);\n\nreturn [{\n  json: {\n    owner: owner,\n    repo: repo,\n    issue_number: issueNumber,\n    run_id: runId,\n    mode: mode,\n    issue_url: issueUrl,\n    run_input_remote: runInputRemote,\n    run_input_b64: runInputB64,\n    evidence_dir: evidenceDir,\n    guardrail_passed: guardData.can_start,\n    labels: guardData.label_names\n  }\n}];",
                                                              "notice":  ""
                                                          },
                                           "id":  "0e03bd83-2b85-4227-a380-78e7aeeac5cc",
                                           "name":  "Prepare RUN_INPUT.json",
                                           "type":  "n8n-nodes-base.code",
                                           "typeVersion":  2,
                                           "position":  [
                                                            1280,
                                                            0
                                                        ]
                                       },
                                       {
                                           "parameters":  {
                                                              "authentication":  "privateKey",
                                                              "resource":  "command",
                                                              "operation":  "execute",
                                                              "command":  "=set -euo pipefail\nRUN_INPUT_PATH=\"{{$json.run_input_remote}}\"\nRUN_INPUT_DIR=\"$(dirname \"$RUN_INPUT_PATH\")\"\nmkdir -p \"$RUN_INPUT_DIR\"\nprintf \u0027%s\u0027 \"{{$json.run_input_b64}}\" | base64 -d \u003e \"$RUN_INPUT_PATH\"\nchmod 640 \"$RUN_INPUT_PATH\"\ntest -s \"$RUN_INPUT_PATH\"\njq . \"$RUN_INPUT_PATH\" \u003e/dev/null\nBYTES=\"$(wc -c \u003c \"$RUN_INPUT_PATH\" | tr -d \u0027 \u0027)\"\necho \"{\\\"ok\\\":true,\\\"phase\\\":\\\"ssh_write_run_input\\\",\\\"run_input_path\\\":\\\"$RUN_INPUT_PATH\\\",\\\"bytes\\\":$BYTES}\"",
                                                              "cwd":  "/"
                                                          },
                                           "id":  "bbc6efd4-0f27-4fef-8c4f-040a4cdaff3b",
                                           "name":  "SSH Write RUN_INPUT to Runner",
                                           "type":  "n8n-nodes-base.ssh",
                                           "typeVersion":  1,
                                           "position":  [
                                                            1536,
                                                            0
                                                        ],
                                           "credentials":  {
                                                               "sshPrivateKey":  {
                                                                                     "id":  "42a60f05-16eb-493f-8257-3eeb5aef531a",
                                                                                     "name":  "dev-runner-ssh"
                                                                                 }
                                                           }
                                       },
                                       {
                                           "parameters":  {
                                                              "authentication":  "privateKey",
                                                              "resource":  "command",
                                                              "operation":  "execute",
                                                              "command":  "=set +e\nRUN_INPUT_PATH=\"{{$(\u0027Prepare RUN_INPUT.json\u0027).first().json.run_input_remote}}\"\n/opt/dev-fabric/scripts/start_github_issue_run.sh --input-json \"$RUN_INPUT_PATH\"\nRC=\"$?\"\necho \"{\\\"ok\\\":true,\\\"phase\\\":\\\"ssh_start_runner_script\\\",\\\"run_input_path\\\":\\\"$RUN_INPUT_PATH\\\",\\\"exit_code\\\":$RC}\"\nexit \"$RC\"",
                                                              "cwd":  "/"
                                                          },
                                           "id":  "4f5b0160-3a40-4d09-8620-ade252975993",
                                           "name":  "SSH Start Runner Script",
                                           "type":  "n8n-nodes-base.ssh",
                                           "typeVersion":  1,
                                           "position":  [
                                                            1792,
                                                            0
                                                        ],
                                           "credentials":  {
                                                               "sshPrivateKey":  {
                                                                                     "id":  "42a60f05-16eb-493f-8257-3eeb5aef531a",
                                                                                     "name":  "dev-runner-ssh"
                                                                                 }
                                                           }
                                       },
                                       {
                                           "parameters":  {
                                                              "resume":  "timeInterval",
                                                              "amount":  5,
                                                              "unit":  "seconds"
                                                          },
                                           "id":  "c7411679-fd1c-4b69-abcc-0769756cb349",
                                           "name":  "Wait (5s)",
                                           "type":  "n8n-nodes-base.wait",
                                           "typeVersion":  1,
                                           "position":  [
                                                            2048,
                                                            0
                                                        ],
                                           "webhookId":  "a1b2c3d4-e009-w001-a009-000000000009"
                                       },
                                       {
                                           "parameters":  {
                                                              "authentication":  "privateKey",
                                                              "resource":  "command",
                                                              "operation":  "execute",
                                                              "command":  "=set -euo pipefail\n\nSTATUS_PATH=\"{{$(\u0027Prepare RUN_INPUT.json\u0027).first().json.evidence_dir}}/status.json\"\n\nfor i in $(seq 1 30); do\n  if [ -s \"$STATUS_PATH\" ]; then\n    jq . \"$STATUS_PATH\"\n    exit 0\n  fi\n  sleep 2\ndone\n\necho \"{\\\"ok\\\":false,\\\"error\\\":\\\"status.json not found after timeout\\\",\\\"status_path\\\":\\\"$STATUS_PATH\\\"}\"\nexit 1",
                                                              "cwd":  "/"
                                                          },
                                           "id":  "592fc2b2-3f3b-4a30-b2f1-6eb1e254de42",
                                           "name":  "SSH Read status.json",
                                           "type":  "n8n-nodes-base.ssh",
                                           "typeVersion":  1,
                                           "position":  [
                                                            2304,
                                                            0
                                                        ],
                                           "credentials":  {
                                                               "sshPrivateKey":  {
                                                                                     "id":  "42a60f05-16eb-493f-8257-3eeb5aef531a",
                                                                                     "name":  "dev-runner-ssh"
                                                                                 }
                                                           }
                                       },
                                       {
                                           "parameters":  {
                                                              "mode":  "runOnceForAllItems",
                                                              "language":  "javaScript",
                                                              "jsCode":  "// ============================================================================\n// Format Evidence Comment\n// Uses stable cross-node references to Prepare RUN_INPUT.json\n// ============================================================================\n\nconst prepData = $(\u0027Prepare RUN_INPUT.json\u0027).first().json;\nconst statusOutput = $input.first().json;\n\nlet status = \u0027UNKNOWN\u0027;\nlet runId = prepData.run_id || \u0027unknown\u0027;\nlet effectiveMode = prepData.mode || \u0027manual-terminal\u0027;\nlet opencodeAvailable = \u0027PASS (v1.17.9)\u0027;\nlet opencodeProviderConfigured = \u0027NO\u0027;\nlet evidenceDir = prepData.evidence_dir || \u0027/opt/dev-fabric/evidence/github-agent-runs/\u0027 + prepData.owner + \u0027/\u0027 + prepData.repo + \u0027/issue-\u0027 + prepData.issue_number + \u0027/\u0027 + runId + \u0027/\u0027;\n\ntry {\n  if (typeof statusOutput === \u0027string\u0027) {\n    const parsed = JSON.parse(statusOutput);\n    status = parsed.status || status;\n    if (parsed.mode \u0026\u0026 parsed.mode.effective) effectiveMode = parsed.mode.effective;\n    if (parsed.agent_runtime) {\n      opencodeAvailable = parsed.agent_runtime.opencode_available ? \u0027PASS (\u0027 + (parsed.agent_runtime.opencode_version || \u0027v1.17.9\u0027) + \u0027)\u0027 : \u0027FAIL\u0027;\n      opencodeProviderConfigured = parsed.agent_runtime.opencode_provider_configured ? \u0027YES\u0027 : \u0027NO\u0027;\n    }\n  } else if (typeof statusOutput === \u0027object\u0027) {\n    status = statusOutput.status || statusOutput.error || status;\n  }\n} catch (e) {\n  status = \u0027GREEN_PARTIAL (parse error: \u0027 + e.message + \u0027)\u0027;\n}\n\nconst commentBody = \u0027## Agent Run Result\\n\\n**Status:** \u0027 + status + \u0027\\n\\n**Run ID:** \u0027 + runId + \u0027\\n**Mode:** \u0027 + effectiveMode + \u0027\\n**Source of Truth:** GitHub Issue\\n**Runner:** lxc-dev-runner / 192.168.1.53\\n\\n### Evidence\\n\\nLocal evidence path:\\n\\n```text\\n\u0027 + evidenceDir + \u0027\\n```\\n\\n### Verification\\n\\n| Check | Result |\\n| --- | --- |\\n| RUN_INPUT validated | PASS |\\n| Runner started | PASS |\\n| Evidence written | PASS |\\n| OpenCode available | \u0027 + opencodeAvailable + \u0027 |\\n| OpenCode provider configured | \u0027 + opencodeProviderConfigured + \u0027 |\\n\\n### Approval state\\n\\n- Push: not approved\\n- PR: not approved\\n- Merge: not approved\\n- GitHub Actions: not approved\\n- Provider/API-Key configuration: not approved\u0027;\n\nreturn [{\n  json: {\n    owner: prepData.owner,\n    repo: prepData.repo,\n    issue_number: prepData.issue_number,\n    issue_url: prepData.issue_url,\n    run_id: runId,\n    status: status,\n    mode: effectiveMode,\n    evidence_dir: evidenceDir,\n    comment_body: commentBody\n  }\n}];",
                                                              "notice":  ""
                                                          },
                                           "id":  "25d2cbd3-b919-4f19-9f41-5aac51841742",
                                           "name":  "Format Evidence Comment",
                                           "type":  "n8n-nodes-base.code",
                                           "typeVersion":  2,
                                           "position":  [
                                                            2560,
                                                            0
                                                        ]
                                       },
                                       {
                                           "parameters":  {
                                                              "curlImport":  "",
                                                              "method":  "POST",
                                                              "url":  "=https://api.github.com/repos/{{ $json.owner }}/{{ $json.repo }}/issues/{{ $json.issue_number }}/comments",
                                                              "authentication":  "predefinedCredentialType",
                                                              "nodeCredentialType":  "githubApi",
                                                              "provideSslCertificates":  false,
                                                              "sendQuery":  false,
                                                              "sendHeaders":  true,
                                                              "specifyHeaders":  "keypair",
                                                              "headerParameters":  {
                                                                                       "parameters":  [
                                                                                                          "@{name=Accept; value=application/vnd.github+json}",
                                                                                                          "@{name=X-GitHub-Api-Version; value=2022-11-28}"
                                                                                                      ]
                                                                                   },
                                                              "sendBody":  true,
                                                              "contentType":  "json",
                                                              "specifyBody":  "json",
                                                              "jsonBody":  "={\n  \"body\": {{ JSON.stringify($json.comment_body) }}\n}",
                                                              "options":  {

                                                                          },
                                                              "infoMessage":  ""
                                                          },
                                           "id":  "d2de1066-a6bb-4286-9460-4687c59db475",
                                           "name":  "Create GitHub Comment on Issue",
                                           "type":  "n8n-nodes-base.httpRequest",
                                           "typeVersion":  4,
                                           "position":  [
                                                            2816,
                                                            0
                                                        ],
                                           "credentials":  {
                                                               "githubApi":  {
                                                                                 "id":  "M5hvZu2nCwFcHBYX",
                                                                                 "name":  "GitHub account"
                                                                             }
                                                           }
                                       },
                                       {
                                           "parameters":  {
                                                              "curlImport":  "",
                                                              "method":  "POST",
                                                              "url":  "=https://api.github.com/repos/{{ $(\u0027Prepare RUN_INPUT.json\u0027).first().json.owner }}/{{ $(\u0027Prepare RUN_INPUT.json\u0027).first().json.repo }}/issues/{{ $(\u0027Prepare RUN_INPUT.json\u0027).first().json.issue_number }}/labels",
                                                              "authentication":  "predefinedCredentialType",
                                                              "nodeCredentialType":  "githubApi",
                                                              "provideSslCertificates":  false,
                                                              "sendQuery":  false,
                                                              "sendHeaders":  true,
                                                              "specifyHeaders":  "keypair",
                                                              "headerParameters":  {
                                                                                       "parameters":  [
                                                                                                          "@{name=Accept; value=application/vnd.github+json}",
                                                                                                          "@{name=X-GitHub-Api-Version; value=2022-11-28}"
                                                                                                      ]
                                                                                   },
                                                              "sendBody":  true,
                                                              "contentType":  "json",
                                                              "specifyBody":  "json",
                                                              "jsonBody":  "={\n  \"labels\": [\"agent:needs-review\", \"evidence:attached\"]\n}",
                                                              "options":  {

                                                                          },
                                                              "infoMessage":  ""
                                                          },
                                           "id":  "5f7ff1c9-196a-4353-b3ac-f24ad51b93cd",
                                           "name":  "Add Labels (agent:needs-review, evidence:attached)",
                                           "type":  "n8n-nodes-base.httpRequest",
                                           "typeVersion":  4,
                                           "position":  [
                                                            3072,
                                                            0
                                                        ],
                                           "credentials":  {
                                                               "githubApi":  {
                                                                                 "id":  "M5hvZu2nCwFcHBYX",
                                                                                 "name":  "GitHub account"
                                                                             }
                                                           }
                                       },
                                       {
                                           "parameters":  {
                                                              "curlImport":  "",
                                                              "method":  "DELETE",
                                                              "url":  "=https://api.github.com/repos/{{ $(\u0027Prepare RUN_INPUT.json\u0027).first().json.owner }}/{{ $(\u0027Prepare RUN_INPUT.json\u0027).first().json.repo }}/issues/{{ $(\u0027Prepare RUN_INPUT.json\u0027).first().json.issue_number }}/labels/agent%3Arunning",
                                                              "authentication":  "predefinedCredentialType",
                                                              "nodeCredentialType":  "githubApi",
                                                              "provideSslCertificates":  false,
                                                              "sendQuery":  false,
                                                              "sendHeaders":  true,
                                                              "specifyHeaders":  "keypair",
                                                              "headerParameters":  {
                                                                                       "parameters":  [
                                                                                                          "@{name=Accept; value=application/vnd.github+json}",
                                                                                                          "@{name=X-GitHub-Api-Version; value=2022-11-28}"
                                                                                                      ]
                                                                                   },
                                                              "sendBody":  false,
                                                              "options":  {

                                                                          },
                                                              "infoMessage":  ""
                                                          },
                                           "id":  "9d09319e-9ed6-4e85-9cf7-aedfe3fd1c41",
                                           "name":  "Remove agent:running Label (404-tolerant)",
                                           "type":  "n8n-nodes-base.httpRequest",
                                           "typeVersion":  4,
                                           "position":  [
                                                            3328,
                                                            0
                                                        ],
                                           "credentials":  {
                                                               "githubApi":  {
                                                                                 "id":  "M5hvZu2nCwFcHBYX",
                                                                                 "name":  "GitHub account"
                                                                             }
                                                           },
                                           "onError":  "continueRegularOutput"
                                       },
                                       {
                                           "parameters":  {
                                                              "mode":  "runOnceForAllItems",
                                                              "language":  "javaScript",
                                                              "jsCode":  "// ============================================================================\n// Final Result / Log Output\n===========================================================================\n\nconst prepData = $(\u0027Prepare RUN_INPUT.json\u0027).first().json;\n\nconst result = {\n  status: \u0027GREEN_PARTIAL_PLUS\u0027,\n  issue_number: prepData.issue_number,\n  issue_url: prepData.issue_url,\n  run_id: prepData.run_id,\n  evidence_dir: prepData.evidence_dir,\n  dispatch_mode: \u0027manual-terminal\u0027,\n  guardrail_passed: true,\n  labels_updated: true,\n  comment_posted: true,\n  next_action: \u0027Issue remains open. Human review required. Labels: agent:needs-review + evidence:attached set. OpenCode Provider/Auth + Hermes continue pending.\u0027\n};\n\nreturn [{ json: result }];",
                                                              "notice":  ""
                                                          },
                                           "id":  "f1aedb55-8b84-4886-85be-8a672817add5",
                                           "name":  "Format Final Result",
                                           "type":  "n8n-nodes-base.code",
                                           "typeVersion":  2,
                                           "position":  [
                                                            3584,
                                                            0
                                                        ]
                                       },
                                       {
                                           "parameters":  {
                                                              "notice":  "",
                                                              "rule":  {
                                                                           "interval":  [
                                                                                            "@{field=minutes; minutesInterval=15}"
                                                                                        ]
                                                                       }
                                                          },
                                           "id":  "39db5918-efbb-4f11-bc88-fb953023e39e",
                                           "name":  "Schedule Trigger (15 min)",
                                           "type":  "n8n-nodes-base.scheduleTrigger",
                                           "typeVersion":  1,
                                           "position":  [
                                                            0,
                                                            300
                                                        ]
                                       },
                                       {
                                           "parameters":  {
                                                              "curlImport":  "",
                                                              "method":  "GET",
                                                              "url":  "=https://api.github.com/search/issues?q=is:issue+is:open+label:agent:ready+repo:xxammaxx/n8n-blueprint-workflow\u0026per_page=1\u0026sort=created\u0026order=asc",
                                                              "authentication":  "predefinedCredentialType",
                                                              "nodeCredentialType":  "githubApi",
                                                              "provideSslCertificates":  false,
                                                              "sendQuery":  false,
                                                              "sendHeaders":  true,
                                                              "specifyHeaders":  "keypair",
                                                              "headerParameters":  {
                                                                                       "parameters":  [
                                                                                                          "@{name=Accept; value=application/vnd.github+json}",
                                                                                                          "@{name=X-GitHub-Api-Version; value=2022-11-28}"
                                                                                                      ]
                                                                                   },
                                                              "sendBody":  false,
                                                              "options":  {

                                                                          },
                                                              "infoMessage":  ""
                                                          },
                                           "id":  "53e03f46-84a7-4368-8d55-17d9f12a5fdc",
                                           "name":  "GitHub Search Issues (agent:ready)",
                                           "type":  "n8n-nodes-base.httpRequest",
                                           "typeVersion":  4,
                                           "position":  [
                                                            256,
                                                            300
                                                        ],
                                           "credentials":  {
                                                               "githubApi":  {
                                                                                 "id":  "M5hvZu2nCwFcHBYX",
                                                                                 "name":  "GitHub account"
                                                                             }
                                                           }
                                       },
                                       {
                                           "parameters":  {
                                                              "mode":  "runOnceForAllItems",
                                                              "language":  "javaScript",
                                                              "jsCode":  "// Pick first ready issue from GitHub Search results\nconst searchResults = $input.first().json;\n\nif (!searchResults || !searchResults.items || searchResults.items.length === 0) {\n  // No ready issues - return empty array to stop execution\n  return [];\n}\n\nconst first = searchResults.items[0];\nconst labelNames = (first.labels || []).map(function(l) { return typeof l === \"string\" ? l : l.name; }).filter(Boolean);\n\n// Double-check: issue must have agent:ready (Schedule Trigger might fire between search and fetch)\nif (!labelNames.includes(\"agent:ready\")) {\n  return [];\n}\n\nreturn [{\n  json: {\n    found: true,\n    owner: \"xxammaxx\",\n    repo: \"n8n-blueprint-workflow\",\n    issue_number: first.number,\n    issue_title: first.title,\n    issue_state: first.state,\n    labels: first.labels || [],\n    label_names: labelNames,\n    html_url: first.html_url\n  }\n}];",
                                                              "notice":  ""
                                                          },
                                           "id":  "39e824f8-c6d2-4dd2-8572-cd2eb29d1760",
                                           "name":  "Pick First Ready Issue",
                                           "type":  "n8n-nodes-base.code",
                                           "typeVersion":  2,
                                           "position":  [
                                                            512,
                                                            300
                                                        ]
                                       }
                                   ],
                         "connections":  {
                                             "Manual Trigger (Smoke Test)":  {
                                                                                 "main":  [
                                                                                              [
                                                                                                  {
                                                                                                      "node":  "Fetch Issue from GitHub",
                                                                                                      "type":  "main",
                                                                                                      "index":  0
                                                                                                  }
                                                                                              ]
                                                                                          ]
                                                                             },
                                             "Fetch Issue from GitHub":  {
                                                                             "main":  [
                                                                                          [
                                                                                              {
                                                                                                  "node":  "Guardrails \u0026 Validate",
                                                                                                  "type":  "main",
                                                                                                  "index":  0
                                                                                              }
                                                                                          ]
                                                                                      ]
                                                                         },
                                             "Guardrails \u0026 Validate":  {
                                                                                "main":  [
                                                                                             [
                                                                                                 {
                                                                                                     "node":  "Remove agent:ready Label",
                                                                                                     "type":  "main",
                                                                                                     "index":  0
                                                                                                 }
                                                                                             ]
                                                                                         ]
                                                                            },
                                             "Remove agent:ready Label":  {
                                                                              "main":  [
                                                                                           [
                                                                                               {
                                                                                                   "node":  "Add agent:running Label",
                                                                                                   "type":  "main",
                                                                                                   "index":  0
                                                                                               }
                                                                                           ]
                                                                                       ]
                                                                          },
                                             "Add agent:running Label":  {
                                                                             "main":  [
                                                                                          [
                                                                                              {
                                                                                                  "node":  "Prepare RUN_INPUT.json",
                                                                                                  "type":  "main",
                                                                                                  "index":  0
                                                                                              }
                                                                                          ]
                                                                                      ]
                                                                         },
                                             "Prepare RUN_INPUT.json":  {
                                                                            "main":  [
                                                                                         [
                                                                                             {
                                                                                                 "node":  "SSH Write RUN_INPUT to Runner",
                                                                                                 "type":  "main",
                                                                                                 "index":  0
                                                                                             }
                                                                                         ]
                                                                                     ]
                                                                        },
                                             "SSH Write RUN_INPUT to Runner":  {
                                                                                   "main":  [
                                                                                                [
                                                                                                    {
                                                                                                        "node":  "SSH Start Runner Script",
                                                                                                        "type":  "main",
                                                                                                        "index":  0
                                                                                                    }
                                                                                                ]
                                                                                            ]
                                                                               },
                                             "SSH Start Runner Script":  {
                                                                             "main":  [
                                                                                          [
                                                                                              {
                                                                                                  "node":  "Wait (5s)",
                                                                                                  "type":  "main",
                                                                                                  "index":  0
                                                                                              }
                                                                                          ]
                                                                                      ]
                                                                         },
                                             "Wait (5s)":  {
                                                               "main":  [
                                                                            [
                                                                                {
                                                                                    "node":  "SSH Read status.json",
                                                                                    "type":  "main",
                                                                                    "index":  0
                                                                                }
                                                                            ]
                                                                        ]
                                                           },
                                             "SSH Read status.json":  {
                                                                          "main":  [
                                                                                       [
                                                                                           {
                                                                                               "node":  "Format Evidence Comment",
                                                                                               "type":  "main",
                                                                                               "index":  0
                                                                                           }
                                                                                       ]
                                                                                   ]
                                                                      },
                                             "Format Evidence Comment":  {
                                                                             "main":  [
                                                                                          [
                                                                                              {
                                                                                                  "node":  "Create GitHub Comment on Issue",
                                                                                                  "type":  "main",
                                                                                                  "index":  0
                                                                                              }
                                                                                          ]
                                                                                      ]
                                                                         },
                                             "Create GitHub Comment on Issue":  {
                                                                                    "main":  [
                                                                                                 [
                                                                                                     {
                                                                                                         "node":  "Add Labels (agent:needs-review, evidence:attached)",
                                                                                                         "type":  "main",
                                                                                                         "index":  0
                                                                                                     }
                                                                                                 ]
                                                                                             ]
                                                                                },
                                             "Add Labels (agent:needs-review, evidence:attached)":  {
                                                                                                        "main":  [
                                                                                                                     [
                                                                                                                         {
                                                                                                                             "node":  "Remove agent:running Label (404-tolerant)",
                                                                                                                             "type":  "main",
                                                                                                                             "index":  0
                                                                                                                         }
                                                                                                                     ]
                                                                                                                 ]
                                                                                                    },
                                             "Remove agent:running Label (404-tolerant)":  {
                                                                                               "main":  [
                                                                                                            [
                                                                                                                {
                                                                                                                    "node":  "Format Final Result",
                                                                                                                    "type":  "main",
                                                                                                                    "index":  0
                                                                                                                }
                                                                                                            ]
                                                                                                        ]
                                                                                           },
                                             "Schedule Trigger (15 min)":  {
                                                                               "main":  [
                                                                                            [
                                                                                                {
                                                                                                    "node":  "GitHub Search Issues (agent:ready)",
                                                                                                    "type":  "main",
                                                                                                    "index":  0
                                                                                                }
                                                                                            ]
                                                                                        ]
                                                                           },
                                             "GitHub Search Issues (agent:ready)":  {
                                                                                        "main":  [
                                                                                                     [
                                                                                                         {
                                                                                                             "node":  "Pick First Ready Issue",
                                                                                                             "type":  "main",
                                                                                                             "index":  0
                                                                                                         }
                                                                                                     ]
                                                                                                 ]
                                                                                    },
                                             "Pick First Ready Issue":  {
                                                                            "main":  [
                                                                                         [
                                                                                             {
                                                                                                 "node":  "Fetch Issue from GitHub",
                                                                                                 "type":  "main",
                                                                                                 "index":  0
                                                                                             }
                                                                                         ]
                                                                                     ]
                                                                        }
                                         },
                         "settings":  {
                                          "executionOrder":  "v1",
                                          "binaryMode":  "separate",
                                          "availableInMCP":  false,
                                          "saveManualExecutions":  true
                                      }
                     },
    "workflowVersionId":  "bb201347-cb81-4085-a2ae-89192692e0d1",
    "customData":  {

                   }
}
